frontend/node_modules/
frontend/dist/

__pycache__/
*.py[cod]

.env
.env.*
backend/.env

*.db
*.sqlite
*.sqlite3
*.log
uvicorn_start.log

backend/app/uploads/*
!backend/app/uploads/.gitkeep
.vscode/
.idea/